@import "../../common/colors.scss";

.footer{
    background: $secondary-color;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    flex-direction: column;
    margin-top: 10%;
    background-image: linear-gradient($direction, $tertiary-color, $secondary-color);
}