.button {
  font: inherit;
  border: 1px solid #502eca;
  background: #246cbe;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #87c782;
  border-color: #3ea516;
}

.button:focus {
  outline: none;
}