@import "../../common/colors.scss";

.movie-card, .show-card {
	margin: 20px 0px;
	
    h2 {
		color: $font-secondary;
		margin-bottom: 10px;
		font-weight: 400;
	}
}

.movie-container, .show-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 15px;
}

.sub-header {
    color: $font-secondary;
	margin: 10px 0px;
}
